<!DOCTYPE html>
<html>
    <head>
        
        </script>
        
    </head>
    <body>
       map

    </body>


<!--
    <script src='/socket.io/socket.io.js'></script> 
    <script>
        var socket=io.connect('http://localhost:8005/map',{path:'/socket.io',
        query:'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmYyYmQ3MDdjMDYyODFjNjQxMGVlZGUiLCJpYXQiOjE2MDk5OTg5OTB9.zmHR8k7ka44DeXrqLzUH5oqW_FzocjSLx7eeRhAbI9o'});
        
        socket.emit('position',{
            longtitude:120,
            latitude:30
        });

        socket.on('user',(data)=>{
            console.log(data);
        });
  

    </script> -->
</html>